 <% layout('../index') -%>


<div class="row-fluid profile">
	<div class="span4">
		<div class="cover" style="background-image:url(<%= user.attachments("cover_profile") ? user.attachments("cover_profile").url : '/assets/images/default_cover.jpg' %>); ">
			<div class="cover-body">
				<div class="cover-body-inner">
					<% if(user.attachments("profile_medium")){ %>
						<div class="cover-img">
							<img src="<%= user.attachments('profile_medium').url %> " />
						</div>
					<% } %>
					<h1><%=user.get("firstName")%> <%= user.get("lastName")%></h1>
					<p class="cover-description"><%= user.get("bio") ? user.get("bio") : "" %></p>
					<button class="btn tk-ff-meta-web-pro">+ Add Friend </button>
				</div>
			</div>
		</div>
	</div>
  	<div class="span8">
  		<div><button class="btn tk-ff-meta-web-pro" onclick="$(this).parent().next().toggle();">Edit</button></div>
  		<div class="edit-form" style="display:<%= typeof errors == 'undefined' ? 'none' : 'inline-block' %>">
  			<% if (typeof errors != 'undefined'){ %>
			  <div class="alert">
			    <% for( var e in errors){ %>
			      <%= errors[e] %> 
			    <% } %>
			  </div>
			<% } %>
  			<form method="post" enctype="multipart/form-data">
  				 <div class="control-group">
				    <label class="control-label" for="inputBio">Bio</label>
				    <div class="controls">
				      <textarea id="inputBio" name="bio"><%= user.get("bio") ? user.get("bio") : "" %></textarea>
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputProfile">Profile Picture</label>
				    <div class="controls">
				      <input type="file" name="profile" id="inputProfile" />
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputProfile">Cover Picture</label>
				    <div class="controls">
				      <input type="file" name="cover" id="inputCover" />
				    </div>
				  </div>

				  <button class="btn tk-ff-meta-web-pro">Save</button>
  			</form>
  		</div>


  		<ul class="nav nav-tabs">
		  <li class="active"><a href="#">Activity</a></li>
		  <li><a href="#">Friends</a></li>
		</ul>
	</div>
</div>



